[Unit]
Description=Torrent-Downloader

[Service]
User=torrent-downloader
Group=torrent-downloader
UMask=002
ExecStart=/usr/bin/qbittorrent-nox

[Install]
WantedBy=multi-user.target